*
{
    overflow: hidden;
}
#footer{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif !important;
    padding-top: 9%;
}
body
{
    background-image: url('images/4578832.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow: inherit;
}
.nav-item
{
    padding: 0px 18px;
}
.nav-link
{
    color:springgreen !important;
    font-weight:400px;
    font-size:1.5rem;
}
a{
    text-decoration: none;
}
.links h4:hover
{
    color: blue;
}
.navbar-brand
{
    color: red !important;
    font-weight: bold;
    padding-left: 1rem;
}
.active
{
    font-weight: bold !important;
}
.row
{
    padding: 3%;
}
h4
{
    color: red;
}
.trow
{
    padding: 0rem 10rem;
}