.navbar
{
    opacity: 80%;
}
.nav-item
{
    padding: 0px 18px;
}
.navbar-brand
{
    color: red !important;
    padding-left: 1rem;
    font-weight: bolder;
}
.nav-link
{
    color : seagreen !important;
    font-weight: 400;
    font-size:1.5rem;
}
.active
{
    font-weight: bold;
}
body{
    background-image: url('images/bg-img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.big-heading
{   padding: 16%;
    text-align: center;
    color: navy !important;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 5px 10px 50px #0c0b0b,5px 10px 50px #0a4ee0;
}
#footer{
    padding-top: 4%;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif !important;
}
span
{
    color: white !important;
}
